@import url('https://fonts.googleapis.com/css2?family=Alef&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'Alef', sans-serif;
    font-family: 'Sarala', sans-serif;
}

.main-section1{
    display: flex;
    justify-content: center;
}